name: macOS

on: [push]

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - {
              name: "macOS 64",
              os: "macos-latest",
              target: "macos",
              cef_platform: "macosx64",
              project_arch: "x86_64",
            }
          - {
              name: "macOS ARM",
              os: "macos-latest",
              target: "macos",
              cef_platform: "macosarm64",
              project_arch: "arm64",
            }
    steps:
      - uses: actions/checkout@v2

      - name: Dependencies
        run: brew install create-dmg

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"

      - name: Upgrade PIP
        run: python -m pip install --upgrade pip setuptools wheel

      - name: Display Python version
        run: python --version

      - name: Display PIP version
        run: pip --version

      - name: Python requirements
        run: pip install -r requirements.txt

      - name: Install CMake
        uses: jwlawson/actions-setup-cmake@v1.8
        with:
          cmake-version: "3.20.0"

      - name: Build
        run: |
          cmake -E make_directory build
          cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DCEF_PLATFORM=${{ matrix.config.cef_platform }} -DCMAKE_OSX_ARCHITECTURES=${{ matrix.config.osx_arch }} -DPROJECT_ARCH=${{ matrix.config.project_arch }} -G "Xcode"
          cmake --build build --target MyApp --config Release -v

      - name: "Import certificate"
        uses: devbotsxyz/import-signing-certificate@main
        with:
          certificate-data: ${{ secrets.MACOS_CERTIFICATE }}
          certificate-passphrase: ${{ secrets.MACOS_CERTIFICATE_PWD }}
          keychain-password: ${{ secrets.KEYCHAIN_PWD }}

      - name: Codesign application
        run: |
          security find-identity -v
          python codesign.py "Developer ID Application: Paulo Coutinho (99AHAA343Q)" "build/Release/MyApp.app" "app/resources/macos/entitlements.plist" -v

      - name: Create DMG
        run: |
          python make.py dmg-build
          mv "MyApp.dmg" ${{ matrix.config.target }}-${{ matrix.config.cef_platform }}.dmg

      - name: Codesign DMG
        run: |
          security find-identity -v
          python codesign.py "Developer ID Application: Paulo Coutinho (99AHAA343Q)" "${{ matrix.config.target }}-${{ matrix.config.cef_platform }}.dmg" "app/resources/macos/entitlements.plist" -v

      - name: Notarize build
        env:
          NOTARIZATION_USERNAME: ${{ secrets.NOTARIZATION_USERNAME }}
          NOTARIZATION_PASSWORD: ${{ secrets.NOTARIZATION_PASSWORD }}
        run: python notarize.py --dmg ${{ matrix.config.target }}-${{ matrix.config.cef_platform }}.dmg --bundle-id "com.paulocoutinho.example" --user $NOTARIZATION_USERNAME --passwd $NOTARIZATION_PASSWORD --asc-provider 54BDV6YZ73

      - name: Staple build
        run: xcrun stapler staple ${{ matrix.config.target }}-${{ matrix.config.cef_platform }}.dmg

      - name: Upload
        uses: actions/upload-artifact@v2
        with:
          name: artifact-${{ matrix.config.target }}-${{ matrix.config.cef_platform }}
          path: ${{ matrix.config.target }}-${{ matrix.config.cef_platform }}.dmg

      - name: Get release
        id: get_release
        uses: bruceadams/get-release@v1.2.2
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Release
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: ${{ matrix.config.target }}-${{ matrix.config.cef_platform }}.dmg
          asset_name: ${{ matrix.config.target }}-${{ matrix.config.cef_platform }}.dmg
          asset_content_type: application/octet-stream
